@import 'tailwindcss';
@import 'tw-animate-css';
@import './theme.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
